<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>

<div id="messages"></div>

<form id="message_input_form">
    <input type="text" id="message_input" placeholder="Enter your message here">
    <button type="submit">Send</button>
</form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.min.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000/")

    socket.on('connect', function (){
        let message_input = document.getElementById('message_input');
        document.getElementById('message_input_form').onsubmit = function(e){
            e.preventDefault();
            if (message_input.value.length){
                socket.emit('send_message', {
                    message: message_input.value
                });
                console.log(message_input.value);
            }
            message_input.value = '';
            message_input.focus();
    }
    });
    socket.on('receive_message', function(data){
        console.log(data);
        const newNode = document.createElement('div');
        message = `${data.message}`
        newNode.innerHTML = message.fontcolor("green");
        document.getElementById('messages').appendChild(newNode);
    })
</script>
</html>